# Задание 1
## 1.1 Соедините два словаря в один

In [15]:

dict1={'One': 1,'Two': 2,'Three': 3}
dict2={'Four': 4, 'Five': 5, 'Six': 6}

In [16]:
dict1.update(dict2)

In [17]:
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## 1.2 Напишите функцию, которая на вход принимает два словаря и возвращает один объединенный словарь

In [ ]:
dict1={'One': 1,'Two': 2,'Three': 3}
dict2={'Four': 4, 'Five': 5, 'Six': 6}

In [37]:
def dict_merger(dict1,dict2):
    dict1.update(dict2)
    return dict1

In [38]:
dict_merger(dict1,dict2)

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

# Задание 2 Напишите функцию, которая из двух списков, делает один словарь, где элементы из первого списка - ключи, а элементы из второго списка - значения
## 2.1 Используя цикл for

In [ ]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [47]:
def dict_from_lists(keys,values):
    dict1=dict()
    for i in range(3): dict1.update({keys[i]:values[i]})
    return dict1

In [48]:
dict1

{'One': 1, 'Two': 2, 'Three': 3, 'Four': 4, 'Five': 5, 'Six': 6}

## 2.2 Используя dict comprehensions

In [54]:
keys = ['One', 'Two', 'Three']
values = [1, 2, 3]

In [55]:
dict1=dict()
{keys[i]:values[i] for i in range(3)}

{'One': 1, 'Two': 2, 'Three': 3}

# Задание 3 Извлеките только два ключа name и age из представленного словаря

## 3.1 Напишите функцию с циклом for

In [99]:
client_dict = {
    "name": "John",
    "age": "25",
    "salary": "5000",
    "city": "Moscow",
            }

In [100]:
def key_extractor(default_dict: dict, keys: list = ["name", "age"]) -> dict:
    result = dict()
    for i in keys:
        result.update({i: default_dict[i]})
    return result

In [101]:
key_extractor(client_dict)

{'name': 'John', 'age': '25'}

In [102]:
def key_extractor_3(default_dict: dict, keys: list = ["name", "salary", "city"]) -> dict:
    result = dict()
    for i in keys:
        result.update({i: default_dict[i]})
    return result

In [103]:
key_extractor_3(client_dict)

{'name': 'John', 'salary': '5000', 'city': 'Moscow'}

## 3.2 Используя dict comprehensions

In [121]:
client_dict = {
    "name": "John",
    "age": "25",
    "salary": "5000",
    "city": "Moscow",
            }

In [127]:
def key_extractor(default_dict: dict, keys: list = ["name", "salary"]) -> dict:
    result = {i: default_dict[i] for i in keys}
    return result

In [128]:
key_extractor(client_dict)

{'name': 'John', 'salary': '5000'}

# Задание 4
## 4.1 Сгенерируйте случайные целые числа от 0 до 100 в количестве 5 штук с помощью модуля random. Зафиксируйте псевдогенерацию

In [107]:
import random 
def random_generator(min_value, max_value):
    new_list = []
    random.seed(5)
    for i in range(5): new_list.append(random.randint(min_value, max_value))
    return new_list

In [109]:
random_generator(0,100)

[79, 32, 94, 45, 88]

## Используйте list comprehension

In [5]:
import random 
def random_generator(min_value, max_value):
    new_list = [random.randint(min_value, max_value) for i in range(5)]
    return new_list

In [6]:
random_generator(0,100)

[77, 58, 94, 85, 87]

# Задание 5

## 5.1 Найдите картинку в интернете и прикрепите её в ячейку с текстом

<img src = 'https://img1.akspic.ru/crops/1/9/7/5/0/105791/105791-zima-drevesnye_rasteniya-zakat-moroz-derevo-3840x2160.jpg'>

## 5.2 Создайте следующую таблицу в ячейке с текстом

<table>
    <tr>
        <td></td>
        <td>До события</td>
         <td>Во время события</td>
    </tr>
     <tr>
        <td>1 контрольная точка</td>
        <td>250</td>
         <td>500</td>
    </tr> 
    <tr>
        <td>2 контрольная точка</td>
        <td>350</td>
         <td>700</td>
    </tr>
     <tr>
        <td>3 контрольная точка</td>
        <td>400</td>
         <td>800</td>
    </tr>
    <tr>
        <td><b>Итого за победу</b></td>
        <td><b>1000</b></td>
        <td><b>2000</b></td>
</table>

# Задание 6
## Напишите функцию, которая может принимать любое количество трат пользователя и считать сумму и среднее
### На вход поступают целочисленные значения в любом количестве
### На выходе словарь с ключами суммы трат и средней траты

In [93]:
def expense_stat(*args):
    result = {'total': sum(args), 'mean': sum(args)/len(args)}
    return result

In [94]:
expense_stat(100,200,600)

{'total': 900, 'mean': 300.0}

# Домашнее задание 2
## Написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [103]:
def total_fruits(**kwargs):
    result = 0
    for key, value in kwargs.items():
        result = result + value
    return result

In [104]:
total_fruits(banana = 5, peache = 5, apricot = 12)

22

# Домашнее задание 3
## Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты

In [117]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
expenses_amended = []
for i in expenses:
    if i>0:
        expenses_amended.append(i)

In [118]:
print(expenses_amended)

[100, 125, 345, 655, 200]

In [128]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
for i in expenses:
    if i<=0:
        expenses.remove(i)

In [129]:
print(expenses)

[100, 125, 345, 655, 0, 200]

In [136]:
result = 0
for i in expenses:
    result = result+i
print(result)

1425

## Используйте list comprehensions

In [151]:
expenses = [100, 125, -90, 345, 655, -1, 0, 200]
{expenses.remove(i) for i in expenses if i<=0}
{result}
print(expenses)
print(result)

[100, 125, 345, 655, 0, 200]
1425

# Домашнее задание 4

In [280]:
purchase_date = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']

In [313]:
print(type(purchase_date[0]))

<class 'str'>

In [281]:
total_by_dates = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

## 4.1 Найдите, какая выручка у компании в ноябре

In [398]:
def dict_merger(keys: dict, values: dict) -> dict:
    new_dict = {keys[i]: values[i] for i in range(len(keys))}
    return new_dict

In [399]:
purchase_stat = dict_merger(purchase_date,total_by_dates)

In [400]:
print(purchase_stat)

{'2021-09-14': 1270, '2021-12-15': 8413, '2021-09-08': 9028, '2021-12-05': 3703, '2021-10-09': 2732, '2021-09-30': 2008, '2021-12-22': 295, '2021-11-29': 4944, '2021-12-24': 5723, '2021-11-26': 3701, '2021-10-27': 4471, '2021-12-18': 651, '2021-11-09': 316, '2021-11-23': 4274, '2021-09-27': 6275, '2021-10-02': 4988, '2021-12-27': 6930, '2021-09-20': 2971, '2021-12-13': 6333, '2021-11-01': 2004, '2021-12-06': 519, '2021-12-08': 3406, '2021-10-31': 5015, '2021-10-26': 5700, '2021-12-09': 2887}

In [401]:
def key_extractor(default_dict: dict, keys: list = ['2021-11-29','2021-11-26','2021-11-09','2021-11-23', '2021-11-01'] ) -> dict:
    result = {i: default_dict[i] for i in keys}
    return result

In [402]:
print(type(purchase_date[0]))

<class 'str'>

In [419]:
new_dict = key_extractor(purchase_stat)
print(new_dict)

{'2021-11-29': 4944, '2021-11-26': 3701, '2021-11-09': 316, '2021-11-23': 4274, '2021-11-01': 2004}

In [445]:
revenue = new_dict.values
print(revenue())

dict_values([4944, 3701, 316, 4274, 2004])

In [476]:
November_revenue = 0
for i in revenue(): 
    November_revenue = November_revenue + i
print(November_revenue)

15239

## 4.2 Найдите выручку компании в зависимости от месяца

In [ ]:
def dict_merger(keys: dict, values: dict) -> dict:
    new_dict = {keys[i]: values[i] for i in range(len(keys))}
    return new_dict

In [477]:
dict_merger(purchase_date,total_by_dates)

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

SyntaxError: invalid syntax (2830201818.py, line 1)